
name: Deploy static content to Pages

on:

  push:
    branches: ["main"]



jobs:

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: echo dans la concole 
        run: echo OK
  console:
    name: Console Output
    runs-on: ubuntu-latest
    steps:
      - name: echo dans la concole 
        run: echo OK        
